<header>
<h1 style="color: red;">{{ScreamIt pageTitle}}</h1>
<p style="color:red;"><a style="visited: red;" href="/">Home</a></p>
<p style="color:red;"><a style="visited: red;" href="/about">About</a></p>
</header>
